
html,body {
  height:90%;
}
body {
  margin:0;
  padding:0;
  text-align:center;
  font: normal 10px Arial, Helvetica, sans-serif;
}
a:link,
a:visited {
  color:#05c;
}
a:active {
  color:#f00;
}
#i_love_validator {
  display:inline-block;
  vertical-align:sub;
}
#wrapper {
  position:relative;
  text-align:left;
  font-size:1.2em;
  padding:2em;
  min-height:90%;
}
#inner {
  padding:2em;
}
header {
  background:#000;
  color:#fff;
  text-align:left;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.4, #292929), to(#000));
  background-image: -webkit-linear-gradient(#292929 50%, #000);
  background-image: -moz-linear-gradient(#292929 50%, #000);
  background-image: -o-linear-gradient(#292929 50%, #000);
  background-image: linear-gradient(#292929 50%, #000);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  min-width:240px;
}
h1 {
  margin:0;
  padding:0.3em 0.55em;
  font: italic 4.5em 'Time New Roman', 'Times', serif;
}
h1 span {
  font-size:0.4em;
  color:#ccc;
}
h2 {
  margin:1em 0;
  border-bottom:1px solid #ccc;
  font: bold 1.5em Arial, Helvetic, sans-serif;
  color:#666;
}
#content {
  width:70%;
  min-width:360px;
}
#current_tasks .task {
  padding:0.5em 1em;
  position:relative;
}
#current_tasks {
  font-size:1.5em;
  word-wrap:break-word;
}
#current_tasks input[type='checkbox'],
#current_tasks span {
  float:left;
  display:block;
}
#current_tasks span {
  width:90%;
  min-width:360px;
}
#current_tasks input[type='checkbox'] {
  margin:0.35em 1em 0 0;
  padding:0;
  -webkit-transform: scale(1.2);
  -moz-transform:  scale(1.2);
  -ms-transform:  scale(1,2);
  -o-transform:  scale(1.2);
  transform:  scale(1.2);
}
#current_tasks .task:hover .delete {
  display:block;
}

#form_task input#task {
  width:70%;
  min-width:360px;
  padding:0.1em 0.4em;
  font-size:1.4em;
}
#form_task input[type='submit'] {
  font-size:1.6em;
  margin-top:0.3em;
  display:inline-block;
}
#completed_tasks {
  word-wrap:break-word;
}
#completed_tasks .task:hover,
#current_tasks .task:hover {
  background:#f4f4f8;
}
/* Completed tasks */
#completed_tasks .task {
  padding:0.3em 1em;
  position:relative;
  background:transparent;
  width:70%;
}

#completed_tasks input[type='checkbox'] {
  margin:0 0.5em 0 0;
  padding:0;
  float:left;
}
#completed_tasks .delete {
  display:block;
  margin-left:1em;
  float:right;
  position:relative;
}
#completed_tasks span {
  padding:0px 5px;
  font-size:1em;
  color:#999;
  display:block;
  float:left;
  width:70%;
}

.delete {
  float:right;
  display:none;
  width:16px;
  height:16px;
  background:transparent url("../images/cross.png") no-repeat top left;
}

.error {
  color:#fff;
  background:#d00;
  padding:1em;
  margin:0;
  border-bottom:1px solid #fff;
  font-size:1.4em;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, #d00), to(#b00));
  background-image: -webkit-linear-gradient(#d00 50%, #b00);
  background-image: -moz-linear-gradient(#d00 50%, #b00);
  background-image: -o-linear-gradient(#d00 50%, #b00);
  background-image: linear-gradient(#d00 50%, #b00);
}

footer {
  padding:3em 0 0;
  font-size:1em;
  position:absolute;
  bottom:0;
}

.clear {
  visibility:hidden;
  clear:both;
}